@using Framework.Mvc;
@model MSBuildLogsExtended.AspNetMvc40ViewModel.WPCommonOfBuildEventCodeVM
@{
    // http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/sorting-filtering-and-paging-with-the-entity-framework-in-an-asp-net-mvc-application
    // http://dotnetmentors.com/mvc/paging-and-sorting-in-asp-net-mvc-and-entity-framework-application.aspx
    ViewBag.Title = MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildEventCode.BuildEventCode;
    RouteValueDictionary queryStringDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<article>
<div>
<div class="default">
@using (Html.BeginForm()){
<div>
<div class="buttonContainer">
<input class="button button-Search" type="submit" name="SearchToolBarUp" value="@Framework.Resources.UIStringResource.SearchAlternativeText" />
<input onclick="location.href='@Url.Action("AddNew", "BuildEventCode")'" class="button button-AddNew" type="button" name="AddNewToolBarUp" value="@Framework.Resources.UIStringResource.AddNewAlternativeText" />
<input onclick="location.href='@Url.Action("WPCommonOfBuildEventCode_Export", "BuildEventCode", new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="button button-Export" type="button" name="ExportToolBarUp" value="@Framework.Resources.UIStringResource.ExportAlternativeText" />
<input onclick="location.href='@Url.Action("WPCommonOfBuildEventCode_Export", "BuildEventCode", new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="button button-ExportToExcel" type="button" name="ExportToExcelToolBarUp" value="@Framework.Resources.UIStringResource.ExportToExcelAlternativeText" />
<input onclick="location.href='@Url.Action("Import", "BuildEventCode")'" class="button button-Import" type="button" name="ImportToolBarUp" value="@Framework.Resources.UIStringResource.ImportAlternativeText" />
</div>
<div>
</div>
<div>
@Html.CheckBoxFor(model=>model.Criteria.IsToCompareDescriptionCommonOftOfCommon, new { style="display:display;" })@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildEventCode.IsToCompare_ID_CheckBox_Search_isToCompareDescriptionCommonOftOfCommon
@Html.TextBoxFor(model=>model.Criteria.ValueToBeContainedDescriptionCommonOftOfCommon)
</div>
<div>
@Html.CheckBoxFor(model=>model.Criteria.IsToCompareEventCodeCommonOftOfCommon, new { style="display:display;" })@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildEventCode.IsToCompare_ID_CheckBox_Search_isToCompareEventCodeCommonOftOfCommon
@Html.TextBoxFor(model=>model.Criteria.ValueToBeContainedEventCodeCommonOftOfCommon)
</div>
<div class="buttonContainer">
    <div class="paging-label">Items per page : </div><div class="paging-field">@Html.DropDownListFor(model=>model.QueryPagingSetting.PageSize, Model.SelectListOfPageSize, new Dictionary<string,Object>{ { "onchange", "this.form.submit();" } })
    </div><div class="paging-label">Sort by:</div><div class="paging-field">@Html.DropDownListFor(model => model.QueryOrderBySettingCollecionInString, Model.SelectListOfQueryOrderBySettingCollecionInString, new Dictionary<string, Object> { { "onchange", "this.form.submit();" } })
    </div><div class="paging-field-right">@Model.QueryPagingSetting.GetPagingInformationString()</div>
</div>
<div class="buttonContainer">
<input class="button button-Search" type="submit" name="SearchToolBarBottom" value="@Framework.Resources.UIStringResource.SearchAlternativeText" />
<input onclick="location.href='@Url.Action("AddNew", "BuildEventCode")'" class="button button-AddNew" type="button" name="AddNewToolBarBottom" value="@Framework.Resources.UIStringResource.AddNewAlternativeText" />
<input onclick="location.href='@Url.Action("WPCommonOfBuildEventCode_Export", "BuildEventCode", new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="button button-Export" type="button" name="ExportToolBarBottom" value="@Framework.Resources.UIStringResource.ExportAlternativeText" />
<input onclick="location.href='@Url.Action("WPCommonOfBuildEventCode_Export", "BuildEventCode", new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="button button-ExportToExcel" type="button" name="ExportToExcelToolBarBottom" value="@Framework.Resources.UIStringResource.ExportToExcelAlternativeText" />
<input onclick="location.href='@Url.Action("Import", "BuildEventCode")'" class="button button-Import" type="button" name="ImportToolBarBottom" value="@Framework.Resources.UIStringResource.ImportAlternativeText" />
</div>
</div>
}
</div>
<div class="default">
<div>
    @Html.PagedListPager(Url
        , new PagerHtmlRenderer(
        //Constructor mandatory values
                currentPageNumber: Model.QueryPagingSetting.CurrentPage,
                pageSize: Model.QueryPagingSetting.PageSize,
                totalNumberOfItems: Model.QueryPagingSetting.CountOfRecords,
                actionName: "WPCommonOfBuildEventCode",
                controllerName: "BuildEventCode",
                routeValues: new RouteValueDictionary() { { "currentPage", "" } },
                pageRouteValueName: "currentPage")
                {
                    //Properties
                    PreviousLinkInnerHtml = "<strong>Previous</strong>",
                    NextLinkInnerHtml = "<strong>Next<strong>",
                    FirstLinkInnerHtml = "<strong>First</strong>",
                    LastLinkInnerHtml = "<strong>Last</strong>"
                });
</div>
<div>
<table id="MasterDataControl0" name="MasterDataControl0" >
<tr><th class="sorting"></th>
<th class="sorting">@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildEventCode.EventCode</th>
<th class="sorting">@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildEventCode.Description</th>
<th class="sorting"></th></tr>
    @if (Model != null && Model.StatusOfResult == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
    {
		int index = 0;
        foreach (var item in Model.Result)
        {
			index++;
<tr><td ></td>
<td >@Html.DisplayFor(modelItem => item.EventCode)</td>
<td >@Html.DisplayFor(modelItem => item.Description)</td>
<td ><div class="buttonContainer">
<input onclick="location.href='@Url.Action("WPEntityRelatedOfBuildEventCode", "BuildEventCode", new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = item.Id })'" class="button button-Details" type="button" name="DetailsToolBarRightInList" value="@Framework.Resources.UIStringResource.DetailsAlternativeText" />
<input onclick="location.href='@Url.Action("Edit", "BuildEventCode", new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = item.Id })'" class="button button-Edit" type="button" name="EditToolBarRightInList" value="@Framework.Resources.UIStringResource.EditAlternativeText" />
</div></td></tr>
        }
    }
    else
    {
<tr><td colspan="50" ><div class="error-label">@Model.StatusMessageOfResult</div></td></tr>
    }
</table>
</div>
<div>
    @Html.PagedListPager(Url
        , new PagerHtmlRenderer(
        //Constructor mandatory values
                currentPageNumber: Model.QueryPagingSetting.CurrentPage,
                pageSize: Model.QueryPagingSetting.PageSize,
                totalNumberOfItems: Model.QueryPagingSetting.CountOfRecords,
                actionName: "WPCommonOfBuildEventCode",
                controllerName: "BuildEventCode",
                routeValues: new RouteValueDictionary() { { "currentPage", "" } },
                pageRouteValueName: "currentPage")
                {
                    //Properties
                    PreviousLinkInnerHtml = "<strong>Previous</strong>",
                    NextLinkInnerHtml = "<strong>Next<strong>",
                    FirstLinkInnerHtml = "<strong>First</strong>",
                    LastLinkInnerHtml = "<strong>Last</strong>"
                });
</div>
</div>
</div>
</article>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        //http://www.softfinity.com/blog/using-ajax-with-knockout-js-and-asp-net-mvc-4-to-load-select-drop-down-options/
        $(document).ready($(function() {
        }));
        $(document).ready($(function() {
            $.validator.addMethod(
                "date",
                function(value, element) {
                    var bits = value.match(/([0-9]+)/gi), str;
                    if (!bits)
                        return this.optional(element) || false;
                    str = bits[1] + '/' + bits[0] + '/' + bits[2];
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(str));
                },
                "Please enter a date in the format dd/mm/yyyy"
            );
            $("form").validate({
                onkeyup: false,
                errorPlacement: function(error, element) {
                    if (element.attr("name").indexOf("DOB") >= 0) {
                        error.insertAfter("#DOB_Day");
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                },
                messages: {
                },
                highlight:
                    function(element) {
                        $(element).css('border', '2px solid red');
                    },
                unhighlight:
                    function(element) {
                        $(element).css('border', '1px solid rgb(170, 170, 170)');
                    },
                errorLabelContainer: "#ErrorList",
                wrapper: "li",
            });
        }));
        //cascaded dropdownlist by knockoutjs
        function CascadingDDLViewModel() {
            var self = this;
        }
        $(document).ready($(function() {
            var objVM = new CascadingDDLViewModel();
            ko.applyBindings(objVM);
        }));
    </script>
}
