@model MSBuildLogsExtended.AspNetMvc40ViewModel.ItemViewModelBuildEventCode
@section featured {
    <hgroup>
        <h2>@Model.ContentData.Title.</h2>
        <h4>@Model.ContentData.Summary</h4>
    </hgroup>
}
@if (Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK && Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady)
{
    <div class="text-danger">@Model.StatusMessageOfResult</div>
}
else
{
    <legend>@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildEventCode.BuildEventCode.</legend>
    <div class="row">
        @Html.LabelFor(model => model.Item.EventCode, new { @class = "col-sm-2 control-label" })
        @Html.DisplayFor(model => model.Item.EventCode, new { @class = "col-sm-10" })
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Item.Description, new { @class = "col-sm-2 control-label" })
        @Html.DisplayFor(model => model.Item.Description, new { @class = "col-sm-10" })
    </div>
    <div class="btn-group" role="group">
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.EditAlternativeText" onclick="location.href='@Url.Action("Edit", new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.DeleteAlternativeText" onclick="location.href='@Url.Action( "Delete", new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.BackAlternativeText" onclick="location.href='@Url.Action("Index")'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.CopyAlternativeText" onclick="location.href='@Url.Action("Copy", new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
    </div>
}
