@{
    ViewBag.Title = Framework.Resources.UIStringResource.ImportAlternativeText;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title.</h2>
                <h3>@Framework.Resources.UIStringResource.Data_Import_DescriptionText</h3>
                <h4>@ViewBag.Message</h4>
            </hgroup>
        </div>
    </section>
}
@using (Html.BeginForm("Import", "BuildEventCode", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="buttonContainer">
    <input type="file" name="file" id="file" />
    <input type="submit" name="Import" value="@Framework.Resources.UIStringResource.ImportAlternativeText" class="button" />
</div>
}
