@using UrlStringsAlias = ;
@{
    ViewBag.Title = MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildLog.BuildLog;
}
@section featured {
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
	<p>@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildLog.BuildLog</p>
}
<div class="row">
	<div class="col-md-12">
		<ol>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.AddNewAlternativeText, UrlStringsAlias.ActionName_BuildLog_AddNew)</li>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.DeleteAlternativeText, UrlStringsAlias.ActionName_BuildLog_Delete) - Please add parameters to load this page </li>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.EditAlternativeText, UrlStringsAlias.ActionName_BuildLog_Edit) - Please add parameters to load this page </li>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.DetailsAlternativeText, UrlStringsAlias.ActionName_BuildLog_Details) - Please add parameters to load this page </li>
			<li>@Html.ActionLink(MSBuildLogsExtended.Resources.UIStringResourcePerApp.Common_of_MSBuildLogsExtended_BuildLog, UrlStringsAlias.ActionName_BuildLog_WPCommonOfBuildLog)</li>
			<li>@Html.ActionLink(MSBuildLogsExtended.Resources.UIStringResourcePerApp.EntityRelated_of_MSBuildLogsExtended_BuildLog, UrlStringsAlias.ActionName_BuildLog_WPEntityRelatedOfBuildLog)</li>
		</ol>
	</div>
</div>
