@using UrlStringsAlias = MSBuildLogsExtended.AspNetMvc50Rasor.Helpers.UrlStrings;
@model MSBuildLogsExtended.AspNetMvc40ViewModel.BuildEventCodeItemVM
@section featured {
    <hgroup>
        <h2>@Model.ContentData.Title.</h2>
        <h4>@Model.ContentData.Summary</h4>
    </hgroup>
}
@if (Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK && Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady)
{
	<div class="text-danger">@Model.StatusMessageOfResult</div>
}
	<legend>@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildEventCode.BuildEventCode.</legend>
@Html.HiddenFor(model => model.Item.Id)  <div class="form-group form-inline">
			@Html.LabelFor(model => model.Item.EventCode, new { @class = "control-label" })
        <div class="form-control">
			@Html.DisplayFor(model => model.Item.EventCode)
        </div>
    </div>
  <div class="form-group form-inline">
			@Html.LabelFor(model => model.Item.Description, new { @class = "control-label" })
        <div class="form-control">
			@Html.DisplayFor(model => model.Item.Description)
        </div>
    </div>
    <div class="btn-group" role="group">
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.EditAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_Edit, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.DeleteAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_Delete, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.BackAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_Index)'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.CopyAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_Copy, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
    </div>
