<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @MSBuildLogsExtended.Resources.UIStringResourcePerApp.Application_Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
						<div class="navbar nav-inverse">
							<div class="navbar-inner">
								<div class="container-fluid">
									<ul class="nav">
										<li>@Html.ActionLink(Framework.Resources.UIStringResource.Home_TitleText, "Index", "Home")</li>
										<li>@Html.ActionLink(Framework.Resources.UIStringResource.Common_AboutPageTitle, "About", "Home")</li>
										<li>@Html.ActionLink(Framework.Resources.UIStringResource.Common_ContactPageTitle, "Contact", "Home")</li>
									</ul>
										<li class="dropdown"><a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">@Framework.Resources.UIStringResource.Common_Workspaces</a>
											<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
												<li role="menuitem">@Html.ActionLink(MSBuildLogsExtended.Resources.UIStringResourcePerApp.Common_of_MSBuildLogsExtended_Build, "WPCommonOfBuild", "Build")</li>
												<li role="menuitem">@Html.ActionLink(MSBuildLogsExtended.Resources.UIStringResourcePerApp.Common_of_MSBuildLogsExtended_BuildEventCode, "WPCommonOfBuildEventCode", "BuildEventCode")</li>
												<li role="menuitem">@Html.ActionLink(MSBuildLogsExtended.Resources.UIStringResourcePerApp.Common_of_MSBuildLogsExtended_BuildLog, "WPCommonOfBuildLog", "BuildLog")</li>
												<li role="menuitem">@Html.ActionLink(MSBuildLogsExtended.Resources.UIStringResourcePerApp.Common_of_MSBuildLogsExtended_Solution, "WPCommonOfSolution", "Solution")</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @MSBuildLogsExtended.Resources.UIStringResourcePerApp.Application_Title</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
