@using UrlStringsAlias = MSBuildLogsExtended.AspNetMvc50Rasor.Helpers.UrlStrings;
@model MSBuildLogsExtended.AspNetMvc40ViewModel.BuildLogItemVM
@section featured {
    <hgroup>
        <h2>@Model.ContentData.Title.</h2>
        <h4>@Model.ContentData.Summary</h4>
    </hgroup>
}
@if (Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK && Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady)
{
	<div class="text-danger">@Model.StatusMessageOfResult</div>
}
	<legend>@MSBuildLogsExtended.Resources.UIStringResourcePerEntityBuildLog.BuildLog.</legend>
<div class="form-group form-inline">
			@Html.LabelFor(model => model.Item.Build_1_Name, new { @class = "control-label" })
        <div class="form-control">
@Html.ActionLink(Model.Item.Build_1_Name, UrlStringsAlias.ActionName_Build_WPEntityRelatedOfBuild, UrlStringsAlias.ControllerName_Build, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.BuildId }, null)
        </div>
    </div>
@Html.HiddenFor(model => model.Item.Id)@Html.HiddenFor(model => model.Item.Solution_1Id)  <div class="form-group form-inline">
			@Html.LabelFor(model => model.Item.Solution_1_Name, new { @class = "control-label" })
        <div class="form-control">
@Html.ActionLink(Model.Item.Solution_1_Name, UrlStringsAlias.ActionName_Solution_WPEntityRelatedOfSolution, UrlStringsAlias.ControllerName_Solution, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Solution_1Id }, null)
        </div>
    </div>
  <div class="form-group form-inline">
			@Html.LabelFor(model => model.Item.BuildEventCode_1_Name, new { @class = "control-label" })
        <div class="form-control">
@Html.ActionLink(Model.Item.BuildEventCode_1_Name, UrlStringsAlias.ActionName_BuildEventCode_WPEntityRelatedOfBuildEventCode, UrlStringsAlias.ControllerName_BuildEventCode, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.BuildEventCodeId }, null)
        </div>
    </div>
@Html.HiddenFor(model => model.Item.BuildId)@Html.HiddenFor(model => model.Item.BuildEventCodeId)  <div class="form-group form-inline">
			@Html.LabelFor(model => model.Item.Message, new { @class = "control-label" })
        <div class="form-control">
			@Html.DisplayFor(model => model.Item.Message)
        </div>
    </div>
  <div class="form-group form-inline">
			@Html.LabelFor(model => model.Item.EventTime, new { @class = "control-label" })
        <div class="form-control">
			@Html.DisplayFor(model => model.Item.EventTime)
        </div>
    </div>
    <div class="btn-group" role="group">
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.EditAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildLog_Edit, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.DeleteAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildLog_Delete, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.BackAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildLog_Index)'" />
        <input class="btn btn-default" role="button" type="button" value="@Framework.Resources.UIStringResource.CopyAlternativeText" onclick="location.href='@Url.Action(UrlStringsAlias.ActionName_BuildLog_Copy, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Item.Id })'" />
    </div>
